.Github{
    height: 80%;
    width: 100%;
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 80px;

}
.Github h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.Repositories{
    padding-top: 30px;
    margin-right: 30px;
}

.each-repository{
    border: 1px solid rgba(0, 0, 0, 0.178);
    height: 25vh;
    width: 100%;
}
.each-repository h6{
    margin-left: 20px;
    margin-top: 10px;
    color: blue

}
.each-repository p{
    font-size: 15;
    color: rgb(99, 99, 99);
    margin-left: 10px;
}

