.Github{
    height: 80%;
    width: 100%;
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Github h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.description-git{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description-git p{
    text-align: justify;
    text-align-last: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 17px;
    line-height: 26px;

    font-family: 'Lato', sans-serif;
    color: rgb(73, 73, 73);
}
.git-icon{
    width: 80px;
    height: 80px;
}
.profile-github{
    width: 50%;
    border: 1px solid rgb(221, 220, 220);
    text-align: center;
    background-color: #f7f8f8ad;
    border-radius: 10px;
}
.all{
    display: flex;
    justify-content: center;
}
.data-github{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px
}
.photo-github{
    width: 120px;
    border-radius: 2em;
    border: 5px solid white;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.075);
}
.my-datas h4{
    font-family: 'Lato', sans-serif;  
}
.my-datas p{
    font-family: 'Montserrat', sans-serif;  
    color: rgb(99, 99, 99);
}

.follow{
    display: flex;
    justify-content:space-around;
    color: rgb(99, 99, 99);
}

.follow p{
    margin-top: -3px;
}
.following{
    padding-left: 5px;
}
.followers{
    padding-left: 5px;
}
.projects-component{
    height: 350px;
    overflow:auto; 
    width: 95%;
    margin-left: 3%;
    padding-right: 10px;
}
.description{
    text-align: justify;
    text-align-last: center;
}

.Repositories{
    margin-bottom: 15px;
    border: 1px solid rgb(221, 220, 220);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px; 
    overflow-y: hidden
}

.Repositories:hover{
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.075);
    transition: all 0.4s ease-out;
}

.Repositories p{
    color: rgb(99, 99, 99);
    margin-left: 10px;
}
.main-text{
    margin-top: 20px;
}

@media screen and (max-width: 768px){

.my-datas{
    margin-top: 25px;
}

.profile-github{
    width: 80%;
}
.projects-component{
    margin-left: 8%;
}

}

