.under-line{
    position: relative;
    width: 170px;
    height: 1px;
    margin: 13px auto 0px;
    margin-bottom: 30px;
    background-color: #6a7ff9;

}
.line-up{
    position: absolute;
    line-height: 1;
    left: 1px;
    width: 100%;
    top: -4px;
    display: flex;
    justify-content: center;
}
.dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(-40deg);
    margin-right: 1px;
    background-color: #6a7ff9;
}