.Painel{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Main_description{
    text-align: center;
    color: white;
    margin-top: -6em;
}
.Main_description h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}
.Main_description p{
    font-size: 20px;
    font-family: 'Lato', sans-serif
}

@media screen and (max-width: 768px){
    .Main_description h1{
       font-size: 35px
    }
    .Main_description p{
        font-size: 15px
     }

    }