*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
 
}

body{
  background: url(./components/img/back.jpg);

  background-attachment: fixed;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

